@font-face {
  font-family: 'WebRadio';
  src:  url('fonts/WebRadio.eot?5ua6ml');
  src:  url('fonts/WebRadio.eot?5ua6ml#iefix') format('embedded-opentype'),
    url('fonts/WebRadio.ttf?5ua6ml') format('truetype'),
    url('fonts/WebRadio.woff?5ua6ml') format('woff'),
    url('fonts/WebRadio.svg?5ua6ml#WebRadio') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wrd-"], [class*=" wrd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WebRadio' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrd-mobile-devices:before {
  content: "\e98a";
}
.wrd-sort-amount-desc:before {
  content: "\e900";
}
.wrd-sort-numeric-desc:before {
  content: "\e901";
}
.wrd-sort-alpha-desc:before {
  content: "\e902";
}
.wrd-sort-amount-asc:before {
  content: "\e903";
}
.wrd-sort-numeric-asc:before {
  content: "\e904";
}
.wrd-sort-alpha-asc:before {
  content: "\e905";
}
.wrd-planet1:before {
  content: "\e98c";
}
.wrd-soleil:before {
  content: "\e98d";
}
.wrd-pacman:before {
  content: "\e98e";
}
.wrd-nuke:before {
  content: "\e98f";
}
.wrd-music_clef_treble:before {
  content: "\e990";
}
.wrd-joconde:before {
  content: "\e991";
}
.wrd-ghost1:before {
  content: "\e992";
}
.wrd-ghost2:before {
  content: "\e993";
}
.wrd-flower:before {
  content: "\e994";
}
.wrd-floating_balloons:before {
  content: "\e995";
}
.wrd-elvis:before {
  content: "\e997";
}
.wrd-eclipse:before {
  content: "\e998";
}
.wrd-duck_float:before {
  content: "\e999";
}
.wrd-dj .path1:before {
  content: "\e99b";
  color: rgb(255, 255, 255);
}
.wrd-dj .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wrd-dj .path3:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wrd-dj .path4:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wrd-dj .path5:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wrd-dj .path6:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wrd-dj .path7:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wrd-diamond1:before {
  content: "\e9a2";
}
.wrd-cookies:before {
  content: "\e9a5";
}
.wrd-cherries:before {
  content: "\e9a6";
}
.wrd-boombox:before {
  content: "\e9a7";
}
.wrd-error:before {
  content: "\e906";
}
.wrd-error_outline:before {
  content: "\e907";
}
.wrd-warning:before {
  content: "\e908";
}
.wrd-album:before {
  content: "\e909";
}
.wrd-fast_forward:before {
  content: "\e90a";
}
.wrd-fast_rewind:before {
  content: "\e90b";
}
.wrd-loop:before {
  content: "\e90c";
}
.wrd-library_add:before {
  content: "\e90d";
}
.wrd-library_books:before {
  content: "\e90e";
}
.wrd-library_music:before {
  content: "\e90f";
}
.wrd-new_releases:before {
  content: "\e910";
}
.wrd-not_interested:before {
  content: "\e911";
}
.wrd-pause:before {
  content: "\e912";
}
.wrd-pause_circle_filled:before {
  content: "\e913";
}
.wrd-pause_circle_outline:before {
  content: "\e914";
}
.wrd-play_arrow:before {
  content: "\e915";
}
.wrd-play_circle_filled:before {
  content: "\e916";
}
.wrd-play_circle_outline:before {
  content: "\e917";
}
.wrd-playlist_add:before {
  content: "\e918";
}
.wrd-queue_music:before {
  content: "\e919";
}
.wrd-radio:before {
  content: "\e91a";
}
.wrd-recent_actors:before {
  content: "\e91b";
}
.wrd-repeat:before {
  content: "\e91c";
}
.wrd-repeat_one:before {
  content: "\e91d";
}
.wrd-replay:before {
  content: "\e91e";
}
.wrd-shuffle:before {
  content: "\e91f";
}
.wrd-skip_next:before {
  content: "\e920";
}
.wrd-skip_previous:before {
  content: "\e921";
}
.wrd-subtitles:before {
  content: "\e922";
}
.wrd-surround_sound:before {
  content: "\e923";
}
.wrd-video_library:before {
  content: "\e924";
}
.wrd-videocam:before {
  content: "\e925";
}
.wrd-videocam_off:before {
  content: "\e926";
}
.wrd-volume_down:before {
  content: "\e927";
}
.wrd-volume_mute:before {
  content: "\e928";
}
.wrd-volume_off:before {
  content: "\e929";
}
.wrd-volume_up:before {
  content: "\e92a";
}
.wrd-playlist_play:before {
  content: "\e92b";
}
.wrd-art_track:before {
  content: "\e92c";
}
.wrd-fiber_manual_record:before {
  content: "\e92d";
}
.wrd-fiber_smart_record:before {
  content: "\e92e";
}
.wrd-music_video:before {
  content: "\e92f";
}
.wrd-subscriptions:before {
  content: "\e930";
}
.wrd-playlist_add_check:before {
  content: "\e931";
}
.wrd-business:before {
  content: "\e932";
}
.wrd-call:before {
  content: "\e933";
}
.wrd-call_end:before {
  content: "\e934";
}
.wrd-chat:before {
  content: "\e935";
}
.wrd-clear_all:before {
  content: "\e936";
}
.wrd-comment:before {
  content: "\e937";
}
.wrd-contacts:before {
  content: "\e938";
}
.wrd-dialpad:before {
  content: "\e939";
}
.wrd-email:before {
  content: "\e93a";
}
.wrd-forum:before {
  content: "\e93b";
}
.wrd-location_on:before {
  content: "\e93c";
}
.wrd-voicemail:before {
  content: "\e93d";
}
.wrd-vpn_key:before {
  content: "\e93e";
}
.wrd-mail_outline:before {
  content: "\e93f";
}
.wrd-add:before {
  content: "\e940";
}
.wrd-clear:before {
  content: "\e941";
}
.wrd-flag:before {
  content: "\e942";
}
.wrd-remove:before {
  content: "\e943";
}
.wrd-send:before {
  content: "\e944";
}
.wrd-weekend:before {
  content: "\e945";
}
.wrd-access_alarms:before {
  content: "\e946";
}
.wrd-access_time:before {
  content: "\e947";
}
.wrd-insert_emoticon:before {
  content: "\e948";
}
.wrd-notes:before {
  content: "\e949";
}
.wrd-router:before {
  content: "\e94a";
}
.wrd-scanner:before {
  content: "\e94b";
}
.wrd-audiotrack:before {
  content: "\e94c";
}
.wrd-wb_sunny:before {
  content: "\e94d";
}
.wrd-local_attraction:before {
  content: "\e94e";
}
.wrd-arrow_back:before {
  content: "\e94f";
}
.wrd-arrow_forward:before {
  content: "\e950";
}
.wrd-expand_less:before {
  content: "\e951";
}
.wrd-expand_more:before {
  content: "\e952";
}
.wrd-menu:before {
  content: "\e953";
}
.wrd-keyboard_control:before {
  content: "\e954";
}
.wrd-more_vert:before {
  content: "\e955";
}
.wrd-arrow_upward:before {
  content: "\e956";
}
.wrd-arrow_downward:before {
  content: "\e957";
}
.wrd-arrow_back_ios:before {
  content: "\e958";
}
.wrd-arrow_forward_ios:before {
  content: "\e959";
}
.wrd-location_city:before {
  content: "\e95a";
}
.wrd-mood_bad:before {
  content: "\e95b";
}
.wrd-public:before {
  content: "\e95c";
}
.wrd-sentiment_dissatisfied:before {
  content: "\e95d";
}
.wrd-sentiment_neutral:before {
  content: "\e95e";
}
.wrd-sentiment_satisfied:before {
  content: "\e95f";
}
.wrd-sentiment_very_dissatisfied:before {
  content: "\e960";
}
.wrd-sentiment_very_satisfied:before {
  content: "\e961";
}
.wrd-thumb_down_alt:before {
  content: "\e962";
}
.wrd-thumb_up_alt:before {
  content: "\e963";
}
.wrd-account_circle:before {
  content: "\e964";
}
.wrd-cached:before {
  content: "\e965";
}
.wrd-done:before {
  content: "\e966";
}
.wrd-done_all:before {
  content: "\e967";
}
.wrd-extension:before {
  content: "\e968";
}
.wrd-face:before {
  content: "\e969";
}
.wrd-favorite:before {
  content: "\e96a";
}
.wrd-favorite_outline:before {
  content: "\e96b";
}
.wrd-home:before {
  content: "\e96c";
}
.wrd-https:before {
  content: "\e96d";
}
.wrd-label:before {
  content: "\e96e";
}
.wrd-label_outline:before {
  content: "\e96f";
}
.wrd-language:before {
  content: "\e970";
}
.wrd-launch:before {
  content: "\e971";
}
.wrd-lock_open:before {
  content: "\e972";
}
.wrd-lock_outline:before {
  content: "\e973";
}
.wrd-power_settings_new:before {
  content: "\e974";
}
.wrd-search:before {
  content: "\e975";
}
.wrd-supervisor_account:before {
  content: "\e976";
}
.wrd-translate:before {
  content: "\e977";
}
.wrd-view_list:before {
  content: "\e978";
}
.wrd-view_module:before {
  content: "\e979";
}
.wrd-work:before {
  content: "\e97a";
}
.wrd-supervised_user_circle:before {
  content: "\e97b";
}
.wrd-filter_list_alt:before {
  content: "\e97c";
}
.wrd-bookmarks:before {
  content: "\e97d";
}
.wrd-drive_file_rename_outline:before {
  content: "\e97e";
}
.wrd-logout:before {
  content: "\e97f";
}
.wrd-toggle_off:before {
  content: "\e980";
}
.wrd-toggle_on:before {
  content: "\e981";
}
.wrd-bolt:before {
  content: "\e982";
}
.wrd-storefront:before {
  content: "\e983";
}
.wrd-emoji_emotions:before {
  content: "\e984";
}
.wrd-volunteer_activism:before {
  content: "\e985";
}
.wrd-bedtime:before {
  content: "\e986";
}
.wrd-person_add_alt_1:before {
  content: "\e987";
}
.wrd-person_remove:before {
  content: "\e988";
}
.wrd-pest_control:before {
  content: "\e989";
}
